/*

style.css

---------

Par   : Marc Frutos
objet : Modélisation d'un CV

*/

/* Font ajouter pour le CV */
@font-face{ 
	font-family: 'MyWebFont';
	src: url('fonts/web fonts/actionman_regular_macroman/Action_Man-webfont.eot');
	src: url('fonts/web fonts/actionman_regular_macroman/Action_Man-webfont.eot?iefix') format('eot'),
	     url('fonts/web fonts/actionman_regular_macroman/Action_Man-webfont.woff') format('woff'),
	     url('fonts/web fonts/actionman_regular_macroman/Action_Man-webfont.ttf') format('truetype'),
	     url('fonts/web fonts/actionman_regular_macroman/Action_Man-webfont.svg#webfont') format('svg');
}
@font-face {
    font-family: 'learning_curve_proregular';
    src: url('fonts/learningcurve/LearningCurve_OT-webfont.eot');
    src: url('fonts/learningcurve/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/learningcurve/LearningCurve_OT-webfont.woff') format('woff'),
         url('fonts/learningcurve/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('fonts/learningcurve/LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/******* formatage général ********/

body
{
    background-image: url("Images/fonds_gris_windows.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #666;
}



/******* Gestion de l'entête *******/

header
{
    text-align: center; /* Centre le titre principale le message me représentant et la citation */
    margin-left: 185px;
    min-width: 250px;
}

header h1
{
    color: #062C57;
    opacity: 0.6;
    font-size: 3.0em; /* Les titres H1 de 3.0 em */
    font-family: 'MyWebFont', Arial, serif;/* Utilisation de la police qu'on vient de définir sur les titres */
    font-style: italic;
    background-image:linear-gradient(to right,#fff,rgb(157,156,191)) ;
    border-radius: 2em 1em 4em 3em;
}

header h2
 {
    font-size: 2.0em;
 }


/* affichage particulier pour la citation */
#Citation em
{  
    font-size: 2.5em;
    font-style: italic;
    font-family: 'learning_curve_proregular', Arial, serif; /* Utilisation de la police qu'on vient de définir sur les titres */ 
}





/* formatage du liseret à gauche */

#Liseret
{
    position: fixed;
    width: 180px;
    height: 800px;
    background-color: #CCC;
    border-radius: 2em 1em 2em 1em;
}


#PhotoPresentation
{
    border: 2px solid;
    box-shadow: 6px 1px 6px black;
    margin: 10px;
    min-width: 100px; 
    border-radius: 2em 1em 2em 1em;
}


/******* fin de l'entête ********/


/*************** Corps *************/

/* mise en place d'un semblant de responsive avec le display flex en wrap */
#Corps
{
    margin-left: 185px;
    justify-content:space-between;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px
}

/* Mise en place des rubriques du CV avec une image et un fond associé en gradient pour un soulignement */
h3
{
    padding-left: 30px;
    padding-bottom: 10px ;
    color: #062C57;
    width: 300px;
    font-size: 2.5em; /* Les titres H1 de 2.5 em */
    text-shadow: 2px 2px 4px #000;
    background: url("Images/ico-titre.png") no-repeat left top, linear-gradient(to right,#fff,rgb(157,156,191)) no-repeat 25px 40px/100% 10px;
    border-radius: 2em 1em 4em 3em;
}

/* répartition des différentes rubriques du CV de manière égalitaire */
#Experience
{
    flex: 0.33;
}

#Competence
{
    flex: 0.33;
}

#Formation
{
    flex: 0.33;
}

